<% if petitions = trending_petitions %>
  <section id="trending-petitions" aria-labelledby="trending-petitions-heading">
    <h2 id="trending-petitions-heading">
      Popular in the last hour
    </h2>
    <ul>
      <% petitions.each do |id, action, signature_count| %>
        <li class="petition-item">
          <h3>
            <%= link_to truncate(action, length: 100), petition_path(id) %>
          </h3>
          <p class="signature-count">
            <%= signature_count(:trending, signature_count) %>
          </p>
        </li>
      <% end %>
    </ul>
  </section>
<% elsif petitions = popular_petitions %>
  <section id="popular-petitions" aria-labelledby="popular-petitions-heading">
    <h2 id="popular-petitions-heading">
      Popular petitions
    </h2>
    <ul>
      <% petitions.each do |id, action, signature_count| %>
        <li class="petition-item">
          <h3>
            <%= link_to truncate(action, length: 100), petition_path(id) %>
          </h3>
          <p class="signature-count">
            <%= signature_count(:popular, signature_count) %>
          </p>
        </li>
      <% end %>
    </ul>

    <p>
      <%= link_to(petitions_path(state: "open")) do %>
        View all open petitions
      <% end %>
    </p>
  </section>
<% end %>
