<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <%= preload_link_tag 'application.css', nopush: true %>
    <%= preload_link_tag 'application.js', nopush: true %>
    <%= stylesheet_link_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'application/os' %>
    <%= render 'application/social_meta' %>
    <% if noindex_page? %>
      <meta name="robots" content="noindex">
    <% end %>
    <meta name="theme-color" content="#373151">
  </head>
  <body>
    <%= render 'application/header' %>
    <%= render 'application/menu' %>

    <main id="main-content">
      <%= yield :hero_banner %>

      <div class="container">
        <%= render 'application/messages' %>
        <%= yield %>
      </div>
    </main>

    <%= render 'application/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
